body {
  margin: 0;
  padding: 0;
  background-color: #1d2634;
  color: #9e9ea4;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100vw;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  background-color: #f0f0f0;
  padding: 20px;
  width: 200px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  top:0%
}

.header {
  background-color: #585858;
  color: #fff;
  padding: 18px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    box-shadow: none;
    order: 2;
  }

  .main-content {
    padding: 10px;
  }

}