/* Products.css */

.products-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

form {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the form items horizontally */
}

ul.products-list {
  list-style: none;
  padding: 0;
}

li.product-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Center the content horizontally */
}

.product-actions {
  display: flex;
  gap: 10px;
}

button.edit-btn,
button.delete-btn {
  padding: 8px;
  cursor: pointer;
  margin-left: 10px;
}

.add-product-form {
  max-width: 400px;
  margin: 0 auto;
}

.add-product-form button{
  color: rgb(255, 255, 255);
  background-color: #007bff;
}

/* Center the table */
table.products-table {
  max-width: 100%;
  margin: 0 auto;
}
